<div>
    <div class="relative">
        <img src="https://cdn.discordapp.com/attachments/971777815731130439/1030747152030380072/Banner.png" alt="Banner" class="w-full">
        <div class="absolute bottom-6 left-6 md:bottom-12 md:left-12">
            <p class="text-xl md:text-4xl font-bold mb-2">Join the Team!</p>
            <a class="px-4 py-2 bg-slate-800 font-medium shadow-lg hover:bg-slate-900 inline-block transition-all" href="https://discord.gg/openworld/"><i class="fa-solid fa-chevron-right mr-2"></i>APPLY TODAY</a>
        </div>
    </div>
</div>
<div class="container grid gap-4 grid-cols-2 grid-rows-2 mx-auto px-2 mt-6">
    <div>
        <h1 class="text-xl md:text-4xl font-bold mb-2">Who are we?</h1>
        <p>Valley Transit is a public transportation business that operates in Liberty County, Georgia. We provide a frequent bus service to the places you want. We also provide taxis and limousines for direct transportation. Valley Transit was founded by Destiny White on the 4th of October 2022 and has been providing transportation services since. </p>
    </div>
    <div>
        <h1 class="text-xl md:text-4xl font-bold mb-2">Our Socials</h1>
        <p>Follow us on social media for the latest updates on disruptions and route changes.</p>
        <a class="mt-1 text-white text-decoration-none" href="https://discord.gg/openworld/"><i class="fa-brands fa-twitter mr-2"></i>@ValleyTransit</a>
    </div>
    <div class="col-span-2">
        <h1 class="text-xl md:text-4xl font-bold mb-2">Transit Events</h1>
        <div class="container grid gap-4 md:grid-cols-4 md:grid-rows-1 grid-cols-2 grid-rows-2 mx-auto mt-6">
            <div class="border-2 border-gray-700 rounded shadow-lg border-b-green-600 p-2">
                <h2 class="text-lg md:text-lg font-bold mb-1">New Website & Routes</h2>
                <p>Something looks off? What is this? Dark mode!?</p>
            </div>
        </div>
    </div>
</div>