<div class="container grid gap-4 md:grid-cols-4 md:grid-rows-1 grid-cols-1 grid-rows-2 mx-auto px-2 mt-6">
    <div class="rounded p-2">
        <div class="rounded bg-green-800 shadow-xl p-2 inline-block">
            <h1 class="text-xl font-bold mb-2">Taxi Order Service</h1>
            <p>Here is where you can order a taxi (or limousine if you have access). Please ensure all information is correct. </p>
        </div>
        <button id="orderButton" onclick="orderTaxi()" class="disabled:bg-slate-700 mt-4 text-white bg-green-700 rounded-full px-4 py-2 w-full hover:ring hover:ring-indigo-200 hover:ring-opacity-50 transition-all">Order Now!</button>
    </div>
    <div class="md:col-span-3">
        <label class="block">
            <span class="text-gray-300">What is your Roblox username? <span class="text-red-700">*</span></span>
            <input oninput="limoValidation()" id="robloxUsername" type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-slate-600 transition-all" placeholder="">
        </label>
        <label class="block mt-1">
            <span class="text-gray-300">What is your character's name? <span class="text-red-700">*</span></span>
            <input id="characterName" type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-slate-600 transition-all" placeholder="">
        </label>
        <label class="block mt-1">
            <span class="text-gray-300">Where are you? <span class="text-red-700">*</span></span>
            <input id="location" type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-slate-600 transition-all" placeholder="">
        </label>
        <label id="limoOption1" class="block mt-1 opacity-0 transition-all">
            <span class="text-gray-300">What service would you like? <span class="text-red-700">*</span></span>
            <select onchange="destinationValidation()" id="service" type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-slate-600 transition-all" placeholder="">
                <option value="taxi">Taxi</option>
                <option value="limo">Limousine</option>
            </select>
        </label>
        <label id="limoOption2" class="block mt-1 opacity-0 transition-all">
            <span class="text-gray-300">Where would you like to go? <span class="text-red-700">*</span></span>
            <input id="destination" type="text" class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 bg-slate-600 transition-all" placeholder="">
        </label>
    </div>

</div>